<%= form_with(model: blogpost, local: true) do |form| %>

  <% if blogpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>

      <ul>
        <% blogpost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-8">

    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control'%>

  </div>

  <div class="form-group  col-lg-8">
    <%= form.label :body %><br>
    <%= form.text_area :body, class: 'form-control', rows:'20' %>
  </div>

  <div class="form-group col-lg-8">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
