<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">

<main role="main" class="container">
  <% if account_signed_in? %>
  <%= link_to 'New Blogpost', new_blogpost_path %>
  <% end %>
  <h1 class="display-3 text-center">BlogPosts</h1>
  <div class="row">
    <div class="col-md-10 blog-main">

      <% @blogposts.each do |blogpost| %>

      <div class="blog-post">
        <h2 class="blog-post-title"><%= blogpost.title %></h2>
        <p class="blog-post-meta"><%= blogpost.created_at %> by <a href="#">Timothy Chang</a></p>

        <p><%= blogpost.body %></p>
        <hr>

        <% if account_signed_in? %>
        <%= link_to 'Show', blogpost %>
        <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
        <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

    </div><!-- /.blog-main -->
    <% end %>
    <nav class="pagination">
      <%= will_paginate @blogposts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

      <%# <a class="btn btn-outline-primary" href="#">Older</a> %>
      <%# <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a> %>
    </nav>

  </div><!-- /.row -->


</main>
</div>
