<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
 <%# <a class="navbar-brand" href=<%= new_account_session %>
 <link rel="stylesheet" href="/assets/navheader.scss">

 <% if !account_signed_in? %>
 <%= link_to "THC", new_account_session_path ,class: "navbar-brand"%>
 <% else %>
 THC
 <%end%>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item <%= 'active' if current_page?(welcome_path) %>">
       <%= link_to "Home", welcome_path ,class: "nav-link"%>
       <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(welcome_path) %>
       <!-- <span class="sr-only">(current)</span> -->

     </li>
     <li class="nav-item <%= 'active' if current_page?(projects_path) %>">
       <%= link_to "Projects", projects_path ,class: "nav-link"%>
       <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(projects_path) %>
     </li>
     <li class="nav-item <%= 'active' if current_page?(experiences_path) %>">
       <%= link_to "Experiences", experiences_path ,class: "nav-link"%>
       <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(experiences_path) %>
     </li>
     <li class="nav-item <%= 'active' if current_page?(blogposts_path) %>">
       <%= link_to "Blogposts", blogposts_path ,class: "nav-link"%>
       <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(blogposts_path) %>
     </li>
     <% if account_signed_in? %>
     <li class="nav-item">
       <%= link_to "LogOut", destroy_account_session_path, method: :delete, class: "nav-link" %>
     </li>
     <% end %>
   </ul>
   <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

   <a class="nav-link" href="https://instagram.com/datalyphe"><i class="fab fa-instagram fa-2x mx-1"></i></a>
   <a class="nav-link" href="https://github.com/timc3406"><i class="fab fa-github-square fa-2x mx-2"></i></a>
   <a class="nav-link" href="https://www.youtube.com/timc3406"><i class="fab fa-youtube-square fa-2x mx-2"></i></a>
   <a class="nav-link" href="https://www.linkedin.com/in/timothyhchang"><i class="fab fa-linkedin fa-2x mx-2"></i></a>

   <a class="btn btn-outline-light p-2 px-4 mr-2 d-md-inline-block" href="contactme">Contact me <i class="fas fa-envelope white-text ml-2"> </i></a>

   </ul>
 </div>
</nav>
