<!DOCTYPE html>
<html>

  <head>
    <link rel="shortcut icon" href="https://i.imgur.com/INkzLTU.png" type="image/x-icon" />

    <title>Timothychang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <main role="main">
  </head>
  <header>
  <%= render 'layouts/nav/public' %>
  </header>
  <body>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <class="container mt-3">
    <%= yield %>
    </class>
  </body>
  <%= render 'layouts/footer' %>
</html>
